@charset "utf-8";

/*
 * style for admin page
 */

.metadata-form-list {
  width: 97%;
  margin-left: 0 auto;
}
.metadata-form-list > dd {
  margin-left: 0;
  margin-bottom: 1em;
}
.metadata-form-list > dd input {
  width: 100%;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -ms-box-sizing: inherit;
  box-sizing: inherit;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: gray;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: gray;
}
