@charset "utf-8";

/*
 * style for admin page
 */

.metadata-form-list {
  width: 97%;
  margin-left: 0 auto;
}
.metadata-form-list > dd {
  margin-left: 0;
  margin-bottom: 1em;
}
.metadata-form-list > dd input {
  width: 100%;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -ms-box-sizing: inherit;
  box-sizing: inherit;
}

textarea,
input,
input[type="text"],
input[type="password"],
input[type="file"],
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
select {
  color:#inherit
}